<div>
    <div class="row">
        <div><p>&nbsp;</p></div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-3">
            <select class="form-control" placeholder="search by">
                <option>Hello</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" style="width: 100%">Search</button>
        </div>
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Name</th>
                    <th>Quantity per unit</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Ashvir</td>
                        <td>1</td>
                        <td>666</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>